* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    background-image: url('gabriel-gurrola-2UuhMZEChdc-unsplash.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px; /* Adjust padding as needed */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1; /* Ensure it sits above the background but below the text */
}

.display-1, .display-4, .button-container {
    position: relative; /* Bring text above the overlay */
    z-index: 2;
}

.button-container {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 25px; /* Increased for rounder appearance */
    margin: 0 10px;
    font-size: 16px;
}

.button.login {
    background-color: #39838a; /* Login button color */
    color: white; /* Adjust text color for better contrast */
}

.button.login:hover {
    background-color: #2b5b5c; /* Change color on hover for Login button */
}

.button.signup {
    background-color: #dc661e; /* Sign Up button color */
    color: white; /* Adjust text color for better contrast */
}

.button.signup:hover {
    background-color: #b85514; /* Change color on hover for Sign Up button */
}


.content {
    background-color: #fef1e4;
    padding: 50px 20px;
    text-align: center;
}

.footer {
    background-color: #0e1111;
    color: white;
    padding: 20px;
    text-align: center;
}
