body {
    background-color: #fef1e4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    color: white; /* Change text color to white for better contrast */
    padding-top: 20px; /* Add some padding to move content down a bit */
}

.button-container {
    margin-top: 20px; /* Spacing between text and buttons */
}

.button {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #3a6b7d; /* Button color */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2a4b5d; /* Darker shade on hover */
}