body{
    background-color: #fffafa;
}

nav{
    position: sticky;
    background-color: #1b1212;
    color: #fffafa;
}

#songsTitle{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.carousel-item{
    width:640px;
    height:360px;
    opacity: 0.6;
}

.music-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .music-item {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .music-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px
}

#albumsTitle{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

#albumsCover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album {
  width: 150px;
  margin-bottom: 20px;
}

.album img {
  width: 100%;
  height: auto;
}

.album-info {
  text-align: center;
}

.album-info h2 {
  font-size: 14px;
  margin-top: 10px;
}

.album-info p {
  font-size: 12px;
  color: #777;
}