*{
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  position: sticky;
  background-color: #1b1212;
  color: #fffafa;
}

body{
  background-color: #fef1e4 !important;
}

.carousel-item{
  width:640px;
  height:360px;
  opacity: 0.6;
}

#songsTitle{
  border-radius: 10px;
  background-color: #fffafa;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  }
  
.music-item {
  display: flex;
  align-items: center;
  background-color: #fffafa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.music-item:hover{
  background-color: #ccc;
  cursor: pointer;
}
  
.music-item img {
  width: 100px;
  height: 100px;
  margin-right: 10px
}

.music-info h3{
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

#albumsTitle{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

#albumsCover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album {
  width: 150px;
  margin-bottom: 20px;
}

.album:hover{
  background-color: #ccc;
  cursor: pointer;
}

.album img {
  width: 100%;
  height: auto;
}

.album-info {
  text-align: center;
}

.album-info h2 {
  font-size: 14px;
  margin-top: 10px;
}

.album-info p {
  font-size: 12px;
  color: #777;
}

#artistTitle{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

#artistCover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist {
  width: 150px;
  margin-bottom: 20px;
}

.artist:hover{
  background-color: #ccc;
  cursor: pointer;
}

.artist img {
  vertical-align: middle;
  border-radius: 50%;
  width: 100%;
  height: 50%;
}

.artist-info {
  margin-top: 25px;
  text-align: center;
}

.artist-info h2 {
  font-size: 14px;
  margin-top: 10px;
}

/* Style the popup container */
#songsPopup1 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup2 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup3 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup4 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup5 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup6 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup7 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup8 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup9 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup10 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup11 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#songsPopup12 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup1 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup2 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup3 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup4 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup5 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup6 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#artistsPopup1 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#artistsPopup2 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#artistsPopup3 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#artistsPopup4 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#artistsPopup5 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#artistsPopup6 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* Style the popup card */
#popup-card {
  display: flex;
  position: absolute;
  margin: au;
  top: 50%;
  left: 50%;
  width: 60%; /* Increase width */
  height: auto; /* Auto height or set a specific height */
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left, .right {
  padding: 20px;
  flex: 1; /* Equal width for both sections */
}

.left{
  justify-content: center;
}

.left img{
  width: 300px;
  height: 300px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: gray;
}
.selected {
  color: gold;
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close5 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close6 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close6:hover,
.close6:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close7 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close7:hover,
.close7:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close8 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close8:hover,
.close8:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close9 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close9:hover,
.close9:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close10 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close10:hover,
.close10:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close11 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close11:hover,
.close11:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close12 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close12:hover,
.close12:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close13 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close13:hover,
.close13:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close14 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close14:hover,
.close14:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close15 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close15:hover,
.close15:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close16 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close16:hover,
.close16:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close17 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close17:hover,
.close17:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close18 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close18:hover,
.close18:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close19 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close19:hover,
.close19:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close20 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close20:hover,
.close20:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close21 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close21:hover,
.close21:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close22 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close22:hover,
.close22:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close23 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close23:hover,
.close23:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close24 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close24:hover,
.close24:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}