*{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
  position: relative;
  z-index: 3; /* Make sure navbar is above the overlay */
}

.menu-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navbar-title {
  color: white;
  font-size: 20px;
  text-align: center;
  flex-grow: 1; /* Allows the title to take up available space */
}

.spacer {
  width: 24px; /* Adjust as necessary */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  display: none; /* Hidden by default */
  z-index: 2; /* Behind the navbar but in front of the content */
}

.sidebar {
  position: fixed;
  left: -250px; /* Start off-screen */
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #444;
  transition: left 0.3s ease; /* Smooth slide effect */
  z-index: 3; /* Above the overlay */
}

.close-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  text-align: right; /* Align to the right */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.nav-links li {
  margin: 20px 0; /* Add vertical spacing */
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block; /* Make the whole area clickable */
  transition: background 0.3s;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.show {
  left: 0; /* Slide in */
}

.show-overlay {
  display: block; /* Show overlay */
}

body{
  background-color: #fef1e4 !important;
}

.carousel-item{
  width:640px;
  height:360px;
  opacity: 0.6;
}

#songsTitle{
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  }
  
.music-item {
  display: flex;
  align-items: center;
  background-color: #fffafa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.music-item:hover{
  background-color: #ccc;
  cursor: pointer;
}
  
.music-item img {
  width: 100px;
  height: 100px;
  margin-right: 10px
}

.music-info h3{
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

#albumsTitle{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

#albumsCover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album {
  width: 150px;
  margin-bottom: 20px;
}

.album:hover{
  background-color: #ccc;
  cursor: pointer;
}

.album img {
  width: 100%;
  height: auto;
}

.album-info {
  text-align: center;
}

.album-info h2 {
  font-size: 14px;
  margin-top: 10px;
}

.album-info p {
  font-size: 12px;
  color: #777;
}

#artistTitle{
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 15px;
}

#artistCover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist {
  width: 150px;
  margin-bottom: 20px;
}

.artist:hover{
  background-color: #ccc;
  cursor: pointer;
}

.artist img {
  vertical-align: middle;
  border-radius: 50%;
  width: 100%;
  height: 50%;
}

.artist-info {
  margin-top: 25px;
  text-align: center;
}

.artist-info h2 {
  font-size: 14px;
  margin-top: 10px;
}

/* Style the popup container */
#songsPopup {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#albumsPopup {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


#artistsPopup {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Style the popup card */
#popup-card {
  display: flex;
  position: absolute;
  margin: au;
  top: 50%;
  left: 50%;
  width: 60%; /* Increase width */
  height: auto; /* Auto height or set a specific height */
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left, .right {
  padding: 20px;
  flex: 1; /* Equal width for both sections */
}

.left{
  justify-content: center;
}

.left img{
  width: 300px;
  height: 300px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: gray;
}
.selected {
  color: gold;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}